
#wrap {
    color: white;
    text-align: center;
}

.title {
    display: inline-block;
    font-size: 21px;
    padding-top: 60px;
    border-bottom: 1px solid;
}
.info {
    display: block;
    font-size: 15px;
    padding-top: 15px;
}

.time {
    width: 250px;
    display: block;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bdbdbdbe;
    opacity: 0.8;
}

.live-time, .re-time {
    opacity: 1.0;
}

