* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
header, footer {
    height: 130px;
    background-color: rgb(117, 117, 117);
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
main {
    overflow: hidden;
}
aside, section {
    float: left;
}
aside {
    height:250px;
    width: 250px;
    background-color: lightgray;
    padding-top: 40px;
    padding-left: 20px;
}
section {
    padding-top: 40px;
    padding-left: 20px;
}
section h1 {
    margin-bottom: 25px;
}
section p {
    margin-bottom: 15px;
}
footer {
    background-color: rgb(160, 157, 157);
    font-size: 20px;
}