<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>관리자 전용 퀴즈 등록</title>
    <style>
        /* Add your styles here */
    </style>
</head>
<body>
<h1>관리자 전용 퀴즈 등록</h1>
<form th:action="@{/quiz/admin/insert}" th:object="${quizForm}" method="post">
    <label>문제:</label>
    <textarea th:field="*{question}"></textarea><br>

    <label>정답:</label>
    <input type="radio" th:field="*{answer}" value="true"/> O
    <input type="radio" th:field="*{answer}" value="false"/> X<br>

    <label>출제자:</label>
    <input type="text" th:field="*{author}"/><br>

    <input type="submit" value="등록"/>
</form>
<p th:if="${complete}" th:text="${complete}" style="color:blue"></p>
</body>
</html>