<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
    <h1>Sign in</h1>
    <form th:action="@{/users/login}" method="post" th:object="${userForm}">
        <div>
            <input type="text" id="userId" name="userId" placeholder="아이디" required/>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="비밀번호" required/>
        </div>
<!--        <div>-->
<!--            <input type="checkbox" id="rememberMe" />-->
<!--            <label for="rememberMe">아이디 저장하기</label>-->
<!--        </div>-->
        <button type="submit" style="font-size: 18px">로그인</button>
    </form>
    <a href="/users/register">회원가입</a>
    <div th:if="${message}" th:text="${message}" id="msg"></div>
</div>
<!--<script src="/js/login.js"></script>-->
</body>
</html>