<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>
<body>
<header style="float:right">
    <div th:if="${session.user != null}">
        <span th:text="${session.user.username}"></span>님
        <a href="/users/logout">로그아웃</a>
    </div>
    <div th:if="${session.user == null}">
        <a href="/users/login">로그인</a>
        <a href="/users/register">회원가입</a>
    </div>
</header>
<h1 th:if="${postForm.id}">게시물 수정</h1>
<h1 th:unless="${postForm.id}">게시물 작성</h1>
<form th:action="@{${postForm.id} ? '/posts/edit/' + ${postForm.id} : ' /posts/save'}"
      method="post"
      th:object="${postForm}">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" th:field="*{title}" required>
    </div>
    <div>
        <label for="content">내용</label>
        <textarea id="content" name="content" th:field="*{content}" required></textarea><br/>
    </div>
    <button type="submit" th:text="${postForm.id} ? '수정하기' : '작성하기'"></button>
</form>
<a href="/posts">목록으로 돌아가기</a>
</body>
</html>