<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
<!--    <script>-->
<!--        window.onload = function() {-->
<!--            // URL 쿼리 파라미터를 가져옵니다-->
<!--            const urlParams = new URLSearchParams(window.location.search);-->
<!--            const success = urlParams.get('success');-->
<!--            const username = urlParams.get('username');-->

<!--            // 성공 파라미터가 true일 때 알림창을 띄웁니다-->
<!--            if (success === 'true' && username) {-->
<!--                alert(username + "님, 환영합니다. 로그인해 주세요.");-->
<!--            }-->
<!--        };-->
<!--    </script>-->
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div class="container">
    <h1>회원가입</h1>
    <form th:action="@{/users/register}" method="post" th:object="${userForm}">
        <div>
            <input type="text" id="username" name="username" th:field="*{username}" required placeholder="이름">
        </div>
        <div>
            <input type="text" id="userId" name="userId" th:field="*{userId}" required placeholder="아이디">
            <span th:if="${message}" th:text="${message}" style="color: red"></span>
        </div>
        <div>
            <input type="password" id="password" name="password" th:field="*{password}" required placeholder="비밀번호">
        </div>
        <button type="submit">가입하기</button>
    </form>
    <a href="/users/login">로그인</a>
</div>
</body>
</html>