#people {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
#container-wrap {
  position: relative;
}
#container {
  width: 450px;
  margin: 30px auto 70px auto;
  height: calc(100vh - 160px);
  overflow-y: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column-reverse;
  background-color: rgb(217, 183, 228);
}
#container::-webkit-scrollbar {
  display: none;
}
#search {
  position: absolute;
  display: flex;
  top: 0;
  width: 450px;
  justify-content: center;
  margin-right: 10px;
  z-index: 10;
}
#myName {
  padding: 10px;
  font-weight: bold;
}
#searchInput {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#searchBtn {
  background-color: rgb(217, 183, 228);
}
#searchBtn img {
  width: 25px;
}
#searchBtn img:hover {
  opacity: 0.5;
}
#display {
  position: relative;
  margin-bottom: 20px;
}
/* div.red,
div.blue {
  width: 50px;
  height: 50px;
  position: absolute;
}
div.red {
  background-color: red;
  top: 100px;
  left: 300px;
}
div.blue {
  background-color: blue;
  top: 100px;
  left: 200px;
} */
#message {
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #bbb;
  width: 300px;
}
#dataName {
  font-weight: bold;
}
#myDataMessage {
  background-color: yellow;
  border-radius: 10px;
  padding: 10px;
  line-height: 60px;
}
#otherDataMessage {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  line-height: 60px;
}
#dataTime {
  font-size: 12px;
}
button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
#me {
  text-align: right;
  display: block;
  margin-right: 40px;
}
#other {
  text-align: left;
  display: block;
}
#sendBtn {
  background-color: yellow;
}
#sendBtn:hover {
  opacity: 0.5;
}
#bottom {
  bottom: 0;
  position: absolute;
  z-index: 100;
  margin-left: 15px;
  padding-bottom: 10px;
  border-radius: 20px;
}
