<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header>
    <!-- Header content here -->
</header>
<div class="container">
    <h1>마이 페이지</h1>
    <h2>구매 내역</h2>
    <table>
        <thead>
        <tr>
            <th>제품 이름</th>
            <th>구매 수량</th>
            <th>총 가격</th>
            <th>구매 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shoppingList : ${shoppingLists}">
            <td th:text="${shoppingList.productId}">Product Name</td>
            <td th:text="${shoppingList.quantity}">Quantity</td>
            <td th:text="${shoppingList.totalPrice} + '원'">Total Price</td>
            <td th:text="${#dates.format(shoppingList.purchaseDate, 'yyyy-MM-dd HH:mm:ss')}">Purchase Date</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
