<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>리뷰 쓰기</title>
</head>
<body>
<div class="top">
    <a href="/shop" class="home">
        <img src="/img/snack1.jpg">
        <h1>Snack World</h1>
        <img src="/img/snack2.jpg">
    </a>
</div>
<header>
    <div class="left">
        <div class="topMenu">
            <a href="/shop" id="home">Home</a>
        </div>
        <div class="topMenu">
            <a href="/shop/category/snack" class="category">과자</a>
        </div>
        <div class="topMenu">
            <a href="/shop/category/drink" class="category">음료수</a>
        </div>
        <div class="topMenu">
            <a href="/shop/category/iceCream" class="category">아이스크림</a>
        </div>
        <div class="topMenu">
            <a href="/shop/category/chicken" class="category">치킨</a>
        </div>
        <div class="topMenu">
            <a href="/shop/category/pizza" class="category">피자</a>
        </div>
        <div class="topMenu">
            <a href="/shop/category/hamburger" class="category">햄버거</a>
        </div>
    </div>
    <div class="center">
        <form th:action="@{/shop/search}" method="get">
            <input type="text" name="productName" placeholder="검색어를 입력해주세요" id="searchInput">
            <button type="submit">
                <img src="/img/search.jpg">
            </button>
        </form>
    </div>
    <div class="right">
        <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
            <span th:text="${session.user.username} + '님'"></span>
        </div>
        <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
            <span th:text="'보유금액: ' + ${#numbers.formatInteger(userMoney, 3, 'COMMA')} + '원'"></span>
        </div>
        <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
            <a href="/shop/cart">장바구니</a>
        </div>
        <div class="topMenu">
            <a th:href="/shop/showReviews">리뷰 보기</a>
        </div>
        <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
            <div class="dropdown">
                <span class="category">마이페이지</span>
                <div class="dropdown-content" id="myPageUser">
                    <a href="/shop/profile">내 정보</a>
                    <a href="/shop/shoppingList">구매목록</a>
                    <a href="/shop/logout">로그아웃</a>
                </div>
            </div>
        </div>
        <div th:if="${session.user == null}" class="topMenu">
            <a href="/shop/login">로그인</a>
            <a href="/shop/register">회원가입</a>
        </div>
    </div>
</header>
<div class="container">
    <h1>리뷰 쓰기</h1>
    <div>
        <h2 th:text="${product.name}"></h2>
        <img th:src="'data:image/png;base64,' + ${product.imageUrl}" alt="상품 이미지">
        <form th:action="@{/shop/review/save}" method="post">
            <input type="hidden" name="productId" th:value="${product.id}">
            <textarea name="reviewContent" placeholder="리뷰 내용을 작성해주세요."></textarea>
            <button type="submit">등록하기</button>
        </form>
    </div>
</div>
</body>
</html>