* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container-wrap {
    position: relative;
}
.container {
    background-color: #fff;
    width: 40%;
    height: calc(100vh - 60px);
    border-radius: 50px;
    margin: 30px auto;
    overflow-y: scroll; /* 내용이 길어지면 세로 스크롤 생성 */
    
}
.container::-webkit-scrollbar {
    display: none; /* 스크롤바는 안보이게 */
}
.title {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
.title h1 {
    padding-top: 20px;
    text-decoration-color: rgb(150, 150, 228);
    font-family: "Raleway";
    text-align: center;
}
#showDate {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    /* background: #6190E8;  
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  
    background: linear-gradient(to right, #A7BFE8, #6190E8); */
    color: rgb(115, 168, 252);
    width: 70%;
    margin: 10px auto;
    border-radius: 50%;
    font-weight: bold;
}
#inputBox {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
input[type=text] {
    width: 78%;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 50px;
}
#addBtn {
    width: 13%;
    text-align: center;
    padding: 13px;
    background: #34e89e;  
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
    background: linear-gradient(to right, #0f3443, #34e89e);   
    border-radius: 50px;
    color: #fff;
    position: absolute;
    right: 11%;
}
button {
    border: none;
    font-size: 18px;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
    opacity: 0.5;
}
.checkBtn {
    background-color: none;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
    border: 1px solid #aaa;
    color: black;
}
.deleteBtn {
    color: black;
    float: right;
    margin: 3px;
    font-size: 20px;
}
.editBtn {
    float: right;
    margin-right: 35px;
    margin-top: 2.5px;
    font-size: 20px;
}
#leftTodo {
    width: 43%;
    float: left;
    margin: 10px auto;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
#delAllBtn {
    padding: 12px;
    margin: 0 auto 10px auto;
    background: #34e89e;  
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
    background: linear-gradient(to right, #0f3443, #34e89e);   
    border-radius: 50px;
    color: #fff;
}
ul {
    width: 80%;
    margin: 30px auto;
    border-radius: 20px;
    font-family: "Raleway";
}
ul li {
    font-size: 24px;
    padding: 10px 10px 10px 50px;
    background-color: #eee;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    list-style: none;
    user-select: none;
    cursor: pointer;
}
ul li::before {
    content: '';
    background-image: url(/img/uncheck.png);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 12px;
    left: 12px;
}
ul li.checked {
    color: #aaa;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(/img/check.png);
}
ul li span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover {
    cursor: pointer;
    opacity: 0.5;
}