* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
    background-color: #fff;
    width: 50%;
    height: calc(100vh - 60px);
    border-radius: 50px;
    margin: 30px auto;
    
}
.title {
    text-align: center;
}
.title h1 {
    padding-top: 20px;
    text-decoration-color: rgb(150, 150, 228);
    font-family: "Raleway";
}
input[type=text] {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-style: italic;
}
button {
    border: none;
    background: #34e89e;  
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
    background: linear-gradient(to right, #0f3443, #34e89e); 
    border-radius: 10px;
    /* padding: 12px; */
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    color: white;
}
button:hover {
    cursor: pointer;
    opacity: 0.5;
}
#delAllBtn {
    width: 20%;
    padding: 15px 10px;
}
#leftTodo {
    width: 80%;
    margin: 15px auto;
    text-align: left;
    font-style: oblique;
    
}
ul {
    width: 80%;
    margin: 30px auto;
    list-style: none;
    background-color: #eee;
    border-radius: 20px;
    font-family: "Raleway";
}
ul li {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: #eee;
}
/* #ul li button {
    float: right;
} */
ul li button:hover {
    cursor: pointer;
}
ul li:hover {
    /* background-color: #ddd; */
    /* cursor: pointer; */
    border-radius: 20px;
}
