* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0e6d7;
}
.container-wrap {
    position: relative;
}
#showDate {
    text-align: center;
    font-size: 50px;
    line-height: 1.5em;
    padding: 10px;
    color: #AA9E8B;
    margin: 10px auto;
    border-radius: 50%;
    font-weight: bold;
    font-family: "Raleway";
    position: absolute;
    left: 2.5%;
    top: 0;
    z-index: 20;
    width: 25%;
}
.container {
    background-color: #fff;
    width: 40%;
    height: calc(100vh - 60px);
    border-radius: 50px;
    margin: 30px auto;
    overflow-y: scroll; /* 내용이 길어지면 세로 스크롤 생성 */
}
.container::-webkit-scrollbar {
    display: none; /* 스크롤바는 안보이게 */
}
.title {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
.title h1 {
    font-size: 40px;
    padding: 20px;
    text-decoration-color: rgb(150, 150, 228);
    font-family: "Raleway";
    text-align: center;
}
#inputBox {
    width: 75%;
    margin: 0 auto 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
input[type=text] {
    width: 100%;
    margin-right: 5px;
    padding: 9px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 50px;
}
#addBtn {
    width: 20%;
    right: 0;
    text-align: center;
    padding: 13.5px;
    background: #34e89e;  
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
    background: linear-gradient(to right, #0f3443, #34e89e);   
    border-radius: 50px;
    color: #fff;
    position: absolute;
}
#subMenu {
    display: flex;
    width: 75%;
    margin: 0 auto;
}
#leftTodo {
    width: 15%;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
#search {
    width: 60%;
    font-size: 18px;
    height: 40px;
    margin: 10px 22px 0 auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
#delAllBtn {
    width: 20%;
    padding: 12.5px;
    height: 50px;
    margin-top: 5px;
    background: #34e89e;  
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
    background: linear-gradient(to right, #0f3443, #34e89e);   
    border-radius: 50px;
    color: #fff;
}
button {
    border: none;
    font-size: 18px;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: .5s ease-in;
}
.checkBtn {
    background-color: none;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
    border: 1px solid #aaa;
    color: black;
}
.editBtn {
    float: right;
    margin-right: 40px;
    font-size: 18px;
    background-color: rgb(106, 135, 231);
    padding: 9px 7px 8px 10px;
    color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 35px;
}
.deleteBtn {
    float: right;
    margin-right: 5px;
    font-size: 18px;
    background-color: rgb(233, 92, 67);
    padding: 9px 7px 7px 8px;
    color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 35px;
}
#filter {
    display: flex;
    width: 75%;
    margin: 10px auto 0 auto;
    justify-content: right;
}
#filter button {
    border: 1px solid #97dabc;
    display: inline-block;
    padding: 10px;
    color: #34e89e;
    background-color: white;
}
#filter button:hover {
    background-color: #34e89e !important;
    color: white !important;
    transition: .4s ease-in;
}
#filter #all {
    background: #34e89e;  
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
    background: linear-gradient(to right, #0f3443, #34e89e);
    color: white;
}
ul {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    font-family: "Raleway";
    padding: 10px;
}
ul li {
    font-size: 24px;
    padding: 10px 10px 14px 50px;
    background-color: #eee;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    list-style: none;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
}
ul li::before {
    content: '';
    background-image: url(/img/uncheck.png);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 12px;
    left: 12px;
}
ul li.checked {
    color: #fff;
    text-decoration: line-through;
    background-color: #bbb;
}
ul li.checked::before {
    background-image: url(/img/check.png);
}
ul li span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover {
    cursor: pointer;
    opacity: 0.5;
}