<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 th:text="'Hello World!'"></h1>
<h1>안녕하세요! [[${name}]]님</h1>
<h1 th:text="'오늘의 날씨는 ' + '맑음 ' + '입니다'"></h1>
<hr>
<h1 th:text="|안녕하세요 ${name}님|"></h1>
<div th:with="a=1, b=2">
    <span th:text="|${a} + ${b} = ${a + b}|"></span>
</div>
<span th:text="1 > 10"></span>
<span th:text="1 < 10"></span>
<span th:text="1 >= 10"></span>
<span th:text="1 <= 10"></span>
<span th:text="1 == 10"></span>
<span th:text="1 != 10"></span>
<span th:text="길동 == 길동"></span>
<span th:text="길동 != 길동"></span>
<hr>
<p th:text="${name} == '홍길동' ? '홍길동입니다' : '홍길동이 아닙니다'"></p>
<th:block th:if="${name} == '홍길동'">
    <p>홍길동입니다</p>
</th:block>
<div th:unless="${name} == '김철수'">
    <p>김철수 아닙니다</p>
</div>
<hr>
<div th:switch="${name}">
    <p th:case="홍길동" th:text="|${name}입니다|"></p>
    <p th:case="김영희" th:text="|${name}입니다|"></p>
    <p th:case="박철수" th:text="|${name}입니다|"></p>
    <p th:case="*">명부에 없습니다</p>
</div>
.으로 접근: <span th:text="${mb.id}">ID</span> - <span th:text="${mb.name}">이름</span><br>
[]로 접근: <span th:text="${mb['id']}">ID</span> - <span th:text="${mb['name']}">이름</span><br>

<th:block th:object="${mb}">
    .으로 접근: <span th:text="*{id}">ID</span> - <span th:text="*{name}">이름</span><br>
     []로 접근: <span th:text="*{id}">ID</span> - <span th:text="*{['name']}">이름</span><br>
</th:block>
<hr>
<span th:text="${list[0]}">방위</span>
<span th:text="${list[1]}">방위</span>
<span th:text="${list[2]}">방위</span>
<span th:text="${list[3]}">방위</span> <br>
<!--.으로 접근: <span th:text="${map.hong.name}">이름 1</span> - -->
<!--<span th:text="${map.lee.name}">이름 2</span>> <br>-->
<!--[]로 접근: <span th:text="${map['hong']['name']}">이름 1</span> - -->
<!--<span th:text="${map['lee']['name']}">이름 2</span>-->
<div th:each="member : ${members}">
    <p>[[${member.id}]] : [[${member.name}]]</p>
</div>
<hr>
<div th:each="member, s : ${members}" th:object="${member}">
    <p>
        index -> [[${s.index}]], count -> [[${s.count}]],
        size -> [[${s.size}]], current -> [[${s.current}]],
        even -> [[${s.even}]], odd -> [[${s.odd}]],
        first -> [[${s.first}]], last -> [[${s.last}]],
        [[*{id}]] : [[*{name}]]
    </p>
</div>
<div th:with="x=1000000, y=123456.789">
    정수 형식:
    <span th:text="${#numbers.formatInteger(x, 3, 'COMMA')}"></span>
    <br/>
    부동 소수점 형식:
    <span th:text="${#numbers.formatDecimal(y, 3, 'COMMA', 2, 'POINT')}"></span>
</div>
<br>
<div th:with="today=${#dates.createNow()}">
    yyyy/mm/dd 형식:
    <span th:text="${#dates.format(today, 'yyyy/MM/dd')}"></span> <br/>
    yyyy년 mm월 dd 형식:
    <span th:text="${#dates.format(today, 'yyyy년 MM월 dd일')}"></span><br/>
    yyyy년:
    <span th:text="${#dates.year(today)}"></span>
    MM월:
    <span th:text="${#dates.month(today)}"></span>
    dd일:
    <span th:text="${#dates.day(today)}"></span>
    요일:
    <span th:text="${#dates.dayOfWeek(today)}"></span>
</div>
<br>
<div th:with="str1='abcdef'">
    대문자 변환: <span th:text="${#strings.toUpperCase(str1)}"></span>
    빈 문자열 판정: <span th:text="${#strings.isEmpty(str1)}"></span>
    길이: <span th:text="${#strings.length(str1)}"></span>
</div>
<h1>Fragment를 아래에 삽입하기</h1>
<div id="one" th:insert="fragment :: one"></div>
<div id="three" th:replace="fragment :: three"></div>
</body>
</html>