<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/freeBoardWrite.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="right">
            <div>
                <a href="/shop/freeBoard">자유게시판</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <a href="/shop/admin/product/new">상품추가</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <a href="/shop/admin/product">상품관리</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <a href="/shop/admin/users">회원목록</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
                <span th:text="${session.user.username} + '님'"></span>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
                <span th:text="'보유금액: ' + ${#numbers.formatInteger(userMoney, 3, 'COMMA')} + '원'"></span>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <span th:text="${session.user.username}"></span>
            </div>
            <div class="topMenu">
                <a href="/shop/showReviews">REVIEW</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
                <span>
                    <a href="/shop/cart" id="cart">장바구니
                    <span th:unless="${cartItems.size() == 0}" th:text="${cartItems.size()}" class="cartSize"></span>
                    </a>
                </span>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
                <div class="dropdown">
                    <span>마이페이지</span>
                    <div class="dropdown-content" id="myPageUser">
                        <a href="/shop/profile">프로필</a>
                        <a href="/shop/shoppingList">구매목록</a>
                        <a href="/shop/logout">로그아웃</a>
                    </div>
                </div>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <div class="dropdown">
                    <span>마이페이지</span>
                    <div class="dropdown-content" id="myPageAdmin">
                        <a href="/shop/profile">프로필</a>
                        <a href="/shop/admin/salesList">판매목록</a>
                        <a href="/shop/logout">로그아웃</a>
                    </div>
                </div>
            </div>
            <div th:if="${session.user == null}" class="topMenu">
                <a href="/shop/login">로그인</a>
                <a href="/shop/register">회원가입</a>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="top">
            <a href="/shop" id="home">
                <i class="fas fa-cookie-bite"></i>
                <h1>Snack World</h1>
                <i class="fas fa-ice-cream"></i>
            </a>
        </div>
    </div>
    <div class="header-bottom">
        <div class="left">
            <div class="topMenu">
                <a href="/shop" id="all">전체</a>
            </div>
            <div class="topMenu">
                <a href="/shop/popular" class="category">인기상품</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/snack" class="category">과자</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/drink" class="category">음료수</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/iceCream" class="category">아이스크림</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/chicken" class="category">치킨</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/pizza" class="category">피자</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/hamburger" class="category">햄버거</a>
            </div>
            <div class="topMenu">
                <div class="center">
                    <form th:action="@{/shop/search}" method="get" id="searchForm">
                        <input type="text" name="productName" placeholder="Search" id="searchInput">
                        <button type="submit">
                            <img src="/img/search.jpg">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border-top"></div>
<div class="container">
    <h1 th:text="${freeBoardWriteForm.id != null} ? '게시물 수정' : '게시물 작성'"></h1>
    <form th:action="@{${freeBoardWriteForm.id != null} ? '/shop/freeBoard/edit/' + ${freeBoardWriteForm.id} : '/shop/freeBoard/write'}"
          th:object="${freeBoardWriteForm}"
          method="post"
          id="writeForm">
        <input type="hidden" th:field="*{id}">
        <div>
            <input type="text" id="title" name="title" th:field="*{title}" placeholder="제목" required>
        </div>
        <div>
            <textarea id="content" name="content" th:field="*{content}" placeholder="내용을 입력하세요." required></textarea>
        </div>
        <button type="submit" th:text="${freeBoardWriteForm.id} ? '수정하기' : '작성하기'"></button>
    </form>
    <a href="/shop/freeBoard">돌아가기</a>
</div>
<div class="footer">
    <p>LeeJunHo 2024 SpringBoot SnackMall</p>
</div>
</body>
</html>